.signupContent {
  #contentDiv{
    margin-top: 13%;
    overflow-y: auto;
  }

  #register{
    margin-top: 15%;
    margin-left : 33%;
    width : 35%;
  }
}

.customHeader{
  .toolbar-background{
    background: transparent;
  }
}
