<ion-content>
    <ion-list no-lines *ngIf="programs.length > 0">
        <ion-card *ngFor="let program of programs" padding-top>
            <div>
                <img [src]="program.programImg">
                <ion-item>
                    <div>
                        <h1 primary>{{ program.name }}</h1>
                        <p padding-top text-capitalize>{{ program.hostedBy }}</p>
                    </div>
                    <h3 item-right secondary>{{ program.time }}</h3>
                </ion-item>
            </div>
        </ion-card>
    </ion-list>
    <div *ngIf="programs.length == 0">
        No Programs to display
    </div>
</ion-content>