<ion-content>
	<ion-list no-lines *ngIf="programs.length > 0">
		<ion-card *ngFor="let program of programs" padding-top>
			<div>
				<img [src]="program.programImg">
				<ion-item>
					<div>
						<div style="float:left; width : 70%" text-wrap>
							<h2 primary style="font-weight: bold;">{{ program.name }}</h2>
						</div>
						<div text-right>
							<p style="padding-top : 10px">{{program.day}}</p>
						</div>
						<div style="float:left; width : 57%">
							<h2 style="padding-top : 12px" text-capitalize dark>{{ program.hostedBy }}</h2>
						</div>
						<div text-right>
							<h3 padding-top dark style="font-weight: bold;">{{ program.time }}</h3>
						</div>
					</div>
				</ion-item>
			</div>
		</ion-card>
	</ion-list>
	<div *ngIf="programs.length == 0">
		No Programs to display
	</div>
</ion-content>