<ion-content>
    <div>
        <div *ngIf="!imgUrl || imgUrl.length == 0" [style]="adHeight">
            <ion-slides *ngIf="!imgUrl || imgUrl.length == 0" [options]="homeSliderOptions">
                <ion-slide>
                    <img src="img/slide_img1.jpg" />
                </ion-slide>
                <ion-slide>
                    <img src="img/slide_img2.jpg" />
                </ion-slide>
                <ion-slide>
                    <img src="img/slide_img3.jpg" />
                </ion-slide>
            </ion-slides>
        </div>
        <div *ngIf="imgUrl && imgUrl.length>0" [style]="adHeight">
            <ion-slides [options]="homeSliderOptions">
                <ion-slide *ngFor="let img of imgUrl">
                    <img [src]="img" />
                </ion-slide>
            </ion-slides>
        </div>
    </div>
    <ion-item-group>
        <ion-item-divider primary>Now Streaming</ion-item-divider>
        <div style="overflow-y: auto;">
            <ion-item>
                <div>
                    <div [style]="cardImgHeight">
                        <img src="img/cover_art.jpg" style="height: 100% !important;">
                    </div>
                    <button fab large style="position:relative;margin-top:-18%;left:80%" fab-right (click)="onclick($event)">
                    <ion-icon id="play" name="play" [style.display]="isStopped ? 'block': 'none'"></ion-icon>
                    <ion-icon id="pause" name="pause" [style.display]="isStopped ? 'none': 'block'"></ion-icon>
                </button>
                    <div *ngIf="program.name">
                        <h1 primary padding-left>{{ program.name }}</h1>
                        <ion-item>
                            <h2>Hosted By: </h2>
                            <h2 text-capitalize>{{ program.hostedBy }}</h2>
                            <ion-avatar item-left large>
                                <img [src]="program.artistImgUrl">
                            </ion-avatar>
                        </ion-item>
                    </div>
                    <div *ngIf="!program.name">
                        <h1 primary>Program</h1>
                    </div>
                </div>
            </ion-item>
        </div>
    </ion-item-group>
</ion-content>