<ion-content>
    <div>
        <div *ngIf="imgUrl && imgUrl.length>0" [style.height]="adHeight">
            <ion-slides [options]="homeSliderOptions">
                <ion-slide *ngFor="let img of imgUrl;let i = index">
                    <img [src]="img" (click)="openImgInFullScreenViewer(i)" />
                </ion-slide>
            </ion-slides>
        </div>
    </div>
    <ion-item-group>
        <ion-item color="primary">Now Streaming</ion-item>
        <div class="now-playing-card-div">
            <ion-item>
                <div>
                    <div [style.height]="cardImgHeight">
                        <img src="assets/img/cover_art.jpg" class="coverArt">
                    </div>
                    <button large right ion-fab icon-only (click)="onclick()" class="floating-button">
                        <ion-icon id="play" name="play" [style.display]="isStopped ? 'block': 'none'"></ion-icon>
                        <ion-icon id="pause" name="pause" [style.display]="isStopped ? 'none': 'block'"></ion-icon>
                    </button>
                    <div *ngIf="program.name">
                        <h1 color="primary" padding-left>{{ program.name }}</h1>
                        <ion-item>
                            <h2>Hosted By: </h2>
                            <h2 text-capitalize>{{ program.hostedBy }}</h2>
                            <ion-avatar item-left large>
                                <img [src]="program.artistImgUrl">
                            </ion-avatar>
                        </ion-item>
                    </div>
                    <div *ngIf="!program.name">
                        <h1 color="primary">Program</h1>
                    </div>
                </div>
            </ion-item>
        </div>
    </ion-item-group>
</ion-content>