.login {
  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

  #logo{
    margin: auto;
    display: block;
    width: 30% !important; 
  }

  #contentDiv{
    margin-top: 17%;
  }

  #login{
    margin-top: 15%;
    margin-left : 33%;
    width : 35%;
  }

}
